/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  font-family: 'Poppins', sans-serif;
}

/* line 13, ../sass/screen.scss */
iframe {
  vertical-align: baseline;
  margin: 0 auto;
}

/* line 18, ../sass/screen.scss */
nav {
  top: 0;
  transition: 0.5s;
  padding: 0 15px !important;
}

/* line 24, ../sass/screen.scss */
.navbar-collapse {
  transition: 0.5s;
  border-radius: 0 25px 25px 0;
  padding: 15px;
}

/* line 30, ../sass/screen.scss */
footer nav {
  background-color: transparent !important;
}

/* line 35, ../sass/screen.scss */
footer h4 {
  text-align: left !important;
}

/* line 40, ../sass/screen.scss */
footer nav .collapse {
  padding: 0 !important;
}

/* line 44, ../sass/screen.scss */
th {
  font-weight: 700;
  font-size: 15px;
}

/* line 49, ../sass/screen.scss */
.table td {
  vertical-align: baseline !important;
  min-width: 150px;
}

/* line 54, ../sass/screen.scss */
h1 {
  font-size: 80px;
  margin-bottom: 20px;
  color: #e98400e0;
}

/* line 60, ../sass/screen.scss */
h2 {
  font-size: 40px;
}

/* line 64, ../sass/screen.scss */
h3 {
  font-size: 30px;
}

/* line 68, ../sass/screen.scss */
h4 {
  font-size: 25px;
}

/* line 72, ../sass/screen.scss */
p {
  line-height: 1.5rem;
}

/* line 76, ../sass/screen.scss */
.btn-no-bg {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5rem !important;
}

/* line 83, ../sass/screen.scss */
nav {
  z-index: 555;
}

/* line 87, ../sass/screen.scss */
.row {
  width: 100%;
  margin: 0;
}

/* line 95, ../sass/screen.scss */
#home-overflow-section {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.68;
}

/* line 102, ../sass/screen.scss */
.home-overflow {
  -webkit-clip-path: polygon(0 80%, 0% 0%, 100% 0%, 100% 80%, 50% 100%);
  clip-path: polygon(0 80%, 0% 0%, 100% 0%, 100% 80%, 50% 100%);
  height: 700px;
}

/* line 108, ../sass/screen.scss */
.first {
  background: linear-gradient(to right, #f15420, #e46b08);
  animation: colorEffect 10s infinite linear;
  z-index: -1;
  background-size: 1800% 1800%;
}

/* line 115, ../sass/screen.scss */
.second {
  background: linear-gradient(to right, #2f9ec9, #2665c6);
  position: absolute;
  top: 30px;
  z-index: -2;
}

@keyframes colorEffect {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
/* line 136, ../sass/screen.scss */
.figures {
  position: absolute;
  z-index: -2;
  left: 50%;
  transform: translate(-50%, 0);
}

/* line 143, ../sass/screen.scss */
.nav-item {
  margin: 0 10px;
}

/* line 147, ../sass/screen.scss */
.dropdown-menu {
  all: unset;
  display: none;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.212);
  border-radius: 0 10px 10px 10px;
  margin-top: 10px;
}

/* line 156, ../sass/screen.scss */
.dropdown-item {
  padding-left: 0;
  color: #fff;
  opacity: 0.5;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 20px;
  width: 220px;
  transition: 0.2s;
}

/* line 167, ../sass/screen.scss */
.dropdown-item:hover {
  background: none !important;
  color: #fff;
  opacity: 1;
  border-left: 5px solid #fff;
}

/* line 175, ../sass/screen.scss */
.nav-item i {
  margin-right: 10px;
}

/* line 180, ../sass/screen.scss */
.content {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
/* line 187, ../sass/screen.scss */
.content h1,
.content p {
  color: #fff;
}
/* line 192, ../sass/screen.scss */
.content h1 {
  font-weight: 300;
}
/* line 196, ../sass/screen.scss */
.content p {
  font-weight: 200;
}
/* line 200, ../sass/screen.scss */
.content .text {
  padding: 0 150px;
}

/* line 206, ../sass/screen.scss */
#cards {
  margin-top: 700px;
  padding-top: 100px;
}
/* line 210, ../sass/screen.scss */
#cards h2,
#cards p {
  color: #fff;
}
/* line 215, ../sass/screen.scss */
#cards h2 {
  font-weight: 500;
}
/* line 219, ../sass/screen.scss */
#cards p {
  font-weight: 200;
  margin-top: 25px;
  padding-right: 60px;
}
/* line 225, ../sass/screen.scss */
#cards img {
  width: 75%;
}
/* line 229, ../sass/screen.scss */
#cards .first_cover {
  padding: 40px;
  height: 450px;
}
/* line 234, ../sass/screen.scss */
#cards .second_cover {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}
/* line 243, ../sass/screen.scss */
#cards .overflow {
  width: 100%;
  height: 100%;
  opacity: 0.25;
  position: absolute;
  z-index: -1;
}

/* line 254, ../sass/screen.scss */
.card {
  margin-bottom: 100px;
  border: none;
}

/* line 261, ../sass/screen.scss */
.second-card .first_cover {
  background: linear-gradient(to right, #2f9ec9, #3082c6);
  opacity: 0.7;
}
/* line 266, ../sass/screen.scss */
.second-card .second_cover {
  background: linear-gradient(to right, #2f9ec9, #3082c6);
  opacity: 0.5;
}
/* line 271, ../sass/screen.scss */
.second-card .overflow {
  background: linear-gradient(to right, #2f9ec9, #3082c6);
  opacity: 0.25;
  left: 8%;
  top: -8%;
}

/* line 279, ../sass/screen.scss */
.faqs {
  margin-bottom: 100px;
}
/* line 282, ../sass/screen.scss */
.faqs .title {
  background: linear-gradient(to right, #ec7b4ada, #e97c00dc);
  padding: 15px;
}
/* line 287, ../sass/screen.scss */
.faqs .body {
  padding: 25px;
  background: linear-gradient(to right, #ec7b4a77, #e97c0073);
}
/* line 292, ../sass/screen.scss */
.faqs .btn-question {
  background: #e97c00dc;
  color: #fff;
  border-radius: 50%;
  margin-right: 15px;
}
/* line 299, ../sass/screen.scss */
.faqs .question {
  margin-left: 20px;
  margin: 30px;
}
/* line 304, ../sass/screen.scss */
.faqs span {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
/* line 310, ../sass/screen.scss */
.faqs .answer {
  margin-top: 30px;
}
/* line 314, ../sass/screen.scss */
.faqs .faqs-item {
  padding: 20px;
}
/* line 318, ../sass/screen.scss */
.faqs p {
  font-weight: 200;
  margin-top: 25px;
  padding-right: 0px;
  padding-left: 30px;
}

/* line 327, ../sass/screen.scss */
footer {
  position: relative;
}
/* line 330, ../sass/screen.scss */
footer .footer-overflow-img {
  position: absolute;
  width: 100%;
  height: 350px;
}
/* line 336, ../sass/screen.scss */
footer .footer-overflow-img .front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  background: linear-gradient(to right, #ec724a, #e99600);
  z-index: -1;
}
/* line 346, ../sass/screen.scss */
footer .footer-overflow-img .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  background: linear-gradient(to right, #2f9ec9, #2665c6);
  z-index: -2;
  bottom: 30px;
  opacity: 0.7;
}
/* line 358, ../sass/screen.scss */
footer .footer-overflow-img .footer-figures {
  max-height: 350px;
}
/* line 364, ../sass/screen.scss */
footer .nav-footer {
  position: absolute;
  top: 330px;
}
/* line 368, ../sass/screen.scss */
footer .nav-footer .navbar-nav {
  padding-top: 10px;
  border-top: 2px solid rgba(255, 255, 255, 0.637);
}
/* line 373, ../sass/screen.scss */
footer .nav-footer .drop-footer {
  border-radius: 10px 10px 10px 0 !important;
  margin-bottom: 20px;
}
/* line 379, ../sass/screen.scss */
footer h4 {
  color: #fff;
}
/* line 383, ../sass/screen.scss */
footer .contacts {
  position: relative;
  top: 150px;
  z-index: 100;
  width: 700px;
}
/* line 390, ../sass/screen.scss */
footer p {
  color: #fff;
  font-weight: 200;
}
/* line 395, ../sass/screen.scss */
footer i {
  font-size: 20px;
  margin: 0 5px;
  color: #fff;
  opacity: 0.4;
  transition: 0.2s;
}
/* line 403, ../sass/screen.scss */
footer i:hover {
  opacity: 0.8;
}
/* line 407, ../sass/screen.scss */
footer .mobile {
  display: none;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);
}
/* line 416, ../sass/screen.scss */
footer .mobile h4 {
  font-size: 25px;
}

/* line 429, ../sass/screen.scss */
.about footer {
  margin-top: 200px !important;
}

/* line 435, ../sass/screen.scss */
.overflow-about .about-img {
  position: absolute;
  z-index: -1;
}

@media (min-width: 1366px) {
  /* line 443, ../sass/screen.scss */
  .overflow-about .about-img {
    top: -200px;
  }
}
/* line 449, ../sass/screen.scss */
.content-header {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
/* line 456, ../sass/screen.scss */
.content-header h1,
.content-header p {
  color: #fff;
}
/* line 461, ../sass/screen.scss */
.content-header .p {
  font-weight: 400;
  margin: 0 auto;
  padding-top: 15px;
}
/* line 467, ../sass/screen.scss */
.content-header .p50 {
  width: 60%;
}

/* line 473, ../sass/screen.scss */
.body .label {
  padding-top: 50px;
  width: 183px;
}
/* line 478, ../sass/screen.scss */
.body #whoWeAre {
  margin-top: 800px;
}
/* line 482, ../sass/screen.scss */
.body h2 {
  text-align: center;
  font-weight: 700;
  opacity: 0.6;
}
/* line 488, ../sass/screen.scss */
.body .figures-about {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: -1;
}
/* line 495, ../sass/screen.scss */
.body .label {
  display: block;
  margin: 0 auto;
}
/* line 500, ../sass/screen.scss */
.body p {
  opacity: 0.85;
  padding-bottom: 15px;
}
/* line 505, ../sass/screen.scss */
.body .pt150 {
  padding-top: 150px;
}

/* line 511, ../sass/screen.scss */
#interviews video {
  border-radius: 5px;
}

/* line 519, ../sass/screen.scss */
.courses .courseContent {
  display: flex;
  align-items: center;
}
/* line 523, ../sass/screen.scss */
.courses .courseContent img {
  display: block;
  margin: 0 auto;
}
/* line 529, ../sass/screen.scss */
.courses h3 {
  font-weight: 700;
  margin-bottom: 25px;
}

/* line 536, ../sass/screen.scss */
.firstPart h3 {
  color: #63b0ff;
}

/* line 542, ../sass/screen.scss */
.secondPart h3 {
  color: #85ae11;
}

/* line 548, ../sass/screen.scss */
.thirdPart h3 {
  color: #ff9e00;
}

/* line 553, ../sass/screen.scss */
#courses {
  margin: 150px 0;
}
/* line 556, ../sass/screen.scss */
#courses h2,
#courses h4 {
  text-align: center;
  font-weight: 700;
  opacity: 0.6;
}
/* line 564, ../sass/screen.scss */
#courses .course .card-header {
  background: #ccc;
}
/* line 568, ../sass/screen.scss */
#courses .course .card-body {
  background: #d1d1d19d;
}
/* line 571, ../sass/screen.scss */
#courses .course .card-body h4 {
  text-align: left !important;
  margin-bottom: 20px;
  font-size: 18px;
}
/* line 579, ../sass/screen.scss */
#courses .application {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 583, ../sass/screen.scss */
#courses .application .card {
  background: transparent;
  border: 0;
}
/* line 587, ../sass/screen.scss */
#courses .application .card .card-header {
  background: linear-gradient(to right, #f15420, #e98400);
  opacity: 0.7;
  border-radius: 30px 30px 30px 0;
}
/* line 593, ../sass/screen.scss */
#courses .application .card .card-title {
  color: #fff;
  font-weight: 700;
  margin: 0;
}
/* line 600, ../sass/screen.scss */
#courses .application .card .card-body .info {
  opacity: 0.8;
  min-height: 120px;
  max-height: 120px;
}
/* line 606, ../sass/screen.scss */
#courses .application .card .card-body .price {
  margin-top: 15px;
  font-weight: 700;
  font-size: 20px;
  opacity: 0.5;
}
/* line 614, ../sass/screen.scss */
#courses .application .card .line {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #f15420, #e98400);
}
/* line 624, ../sass/screen.scss */
#courses .btn-course {
  background: linear-gradient(to right, #f15420, #e98400);
  opacity: 0.7;
  border-radius: 5rem;
  color: #fff;
  font-size: 15px;
}

/* line 634, ../sass/screen.scss */
.short-line {
  width: 100px;
  height: 7px;
  background: #EC7C36;
  border-radius: 5rem;
}

/* line 644, ../sass/screen.scss */
.contact .map {
  border-top: 10px solid rgba(255, 166, 0, 0.886);
  border-bottom: 10px solid #f15420;
}
/* line 649, ../sass/screen.scss */
.contact .contact-item {
  font-weight: 700;
}
/* line 653, ../sass/screen.scss */
.contact p {
  font-weight: 300;
}
/* line 658, ../sass/screen.scss */
.contact .list-contact i {
  font-size: 25px;
}

/* line 665, ../sass/screen.scss */
.question-title {
  line-height: 25px;
}

/* line 669, ../sass/screen.scss */
#assesment {
  padding-bottom: 50px;
}
/* line 672, ../sass/screen.scss */
#assesment p {
  color: #000;
  font-weight: 400;
}

/* line 679, ../sass/screen.scss */
#testimonials {
  margin: 150px 0;
}
/* line 682, ../sass/screen.scss */
#testimonials hr {
  margin: 35px 0;
}
/* line 687, ../sass/screen.scss */
#testimonials .testimonial .nameTestimonial {
  font-weight: 700;
  opacity: 0.7;
  border-bottom: 5px solid #e59151;
  margin-bottom: 5px;
}
/* line 694, ../sass/screen.scss */
#testimonials .testimonial img {
  width: 100%;
}
/* line 698, ../sass/screen.scss */
#testimonials .testimonial .status, #testimonials .testimonial .date {
  font-size: 14px;
  color: gray;
}
/* line 703, ../sass/screen.scss */
#testimonials .testimonial .profile-photo {
  position: relative;
  overflow: hidden;
  min-height: 170px;
  margin-bottom: 10px;
}
/* line 709, ../sass/screen.scss */
#testimonials .testimonial .profile-photo img {
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
}
/* line 716, ../sass/screen.scss */
#testimonials .testimonial .profile-photo .student {
  position: absolute;
  bottom: 0;
  right: 20px;
}
/* line 724, ../sass/screen.scss */
#testimonials .testimonial-content {
  background-color: #e59151;
  padding: 20px;
  border-radius: 35px 35px 35px 0;
  color: #fff;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}
/* line 734, ../sass/screen.scss */
#testimonials .testimonial-content i {
  position: absolute;
  display: block;
  font-size: 200px;
  opacity: 0.15;
  right: 50px;
  top: 15px;
}

/* line 746, ../sass/screen.scss */
.hStyle h2,
.hStyle h4 {
  text-align: center;
  font-weight: 700;
  opacity: 0.6;
}

/* line 754, ../sass/screen.scss */
#celta-members {
  margin: 150px 0;
}

/* line 758, ../sass/screen.scss */
.text-orange {
  color: #e59151;
}

/* line 762, ../sass/screen.scss */
.btn-orange {
  background: #e59151;
}

@media (min-width: 576px) {
  /* line 771, ../sass/screen.scss */
  .modal-dialog {
    max-width: 900px !important;
  }
}
@media (max-width: 576px) {
  /* line 778, ../sass/screen.scss */
  #whoWeAre .p50 {
    width: 90% !important;
  }

  /* line 783, ../sass/screen.scss */
  #cards {
    margin-top: 200px !important;
  }

  /* line 787, ../sass/screen.scss */
  .content-header {
    left: 0;
    top: 15% !important;
    transform: translate(0, 0%);
    padding: 0 25px;
    width: 100%;
  }
  /* line 794, ../sass/screen.scss */
  .content-header p {
    display: none;
  }
  /* line 798, ../sass/screen.scss */
  .content-header h1 {
    font-size: 25px;
    font-weight: 700;
  }

  /* line 805, ../sass/screen.scss */
  .overflow-about .overflow {
    height: 500px;
  }

  /* line 810, ../sass/screen.scss */
  .body #whoWeAre {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 350px !important;
  }

  /* line 817, ../sass/screen.scss */
  .card-body .info {
    opacity: 0.8;
    min-height: 150px !important;
    max-height: 150px !important;
  }
}
@media (min-width: 1700px) {
  /* line 828, ../sass/screen.scss */
  #whoWeAre {
    margin-top: 900px !important;
  }
}
@media (min-width: 2000px) {
  /* line 834, ../sass/screen.scss */
  #whoWeAre {
    margin-top: 1000px !important;
  }
}
@media (min-width: 992px) {
  /* line 840, ../sass/screen.scss */
  .student {
    width: 200px;
  }
}
@media (max-width: 1200px) {
  /* line 847, ../sass/screen.scss */
  .nav-item i {
    display: none;
  }

  /* line 852, ../sass/screen.scss */
  .text {
    padding: 0 20px !important;
  }
}
@media (max-width: 1300px) {
  /* line 858, ../sass/screen.scss */
  .body #whoWeAre {
    margin-top: 700px;
  }
}
@media (max-width: 1366px) {
  /* line 865, ../sass/screen.scss */
  .overflow-about .overflow {
    width: 100%;
    height: 78%;
  }
}
@media (max-width: 1090px) {
  /* line 873, ../sass/screen.scss */
  #whoWeAre {
    margin-top: 600px !important;
  }

  /* line 877, ../sass/screen.scss */
  h1 {
    font-size: 40px !important;
  }
}
@media (max-width: 1000px) {
  /* line 883, ../sass/screen.scss */
  #whoWeAre {
    margin-top: 600px !important;
  }
}
@media (max-width: 768px) {
  /* line 891, ../sass/screen.scss */
  nav {
    padding: 0 15px !important;
  }

  /* line 895, ../sass/screen.scss */
  .intro-student {
    margin: 0 auto !important;
    padding-bottom: 25px !important !important;
  }

  /* line 900, ../sass/screen.scss */
  .testimonial {
    padding: 0 !important;
    margin: 0 auto !important;
  }

  /* line 905, ../sass/screen.scss */
  .figures-about,
  .figures {
    display: none;
  }

  /* line 910, ../sass/screen.scss */
  #whoWeAre {
    margin-top: 440px !important;
  }

  /* line 914, ../sass/screen.scss */
  .container {
    padding: 0;
  }

  /* line 918, ../sass/screen.scss */
  .first_cover {
    height: 100% !important;
    box-sizing: border-box;
  }

  /* line 923, ../sass/screen.scss */
  #cards {
    margin-top: 430px;
  }
  /* line 926, ../sass/screen.scss */
  #cards p {
    padding-right: 0px;
  }
  /* line 930, ../sass/screen.scss */
  #cards .overflow {
    left: 0;
    right: 0;
  }
  /* line 935, ../sass/screen.scss */
  #cards .faqs {
    padding: 0 !important;
  }

  /* line 940, ../sass/screen.scss */
  nav {
    border-radius: 0 !important;
  }

  /* line 945, ../sass/screen.scss */
  .body p {
    width: 100% !important;
  }

  /* line 952, ../sass/screen.scss */
  .testimonial .profile-photo .student {
    right: 50% !important;
    transform: translateX(50%);
  }

  /* line 960, ../sass/screen.scss */
  #whoWeAre .p50 {
    width: 80%;
  }

  /* line 966, ../sass/screen.scss */
  .overflow-about .overflow {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
  }
}
/* line 974, ../sass/screen.scss */
.photo-container {
  overflow: hidden;
  padding-top: 5px;
}
/* line 977, ../sass/screen.scss */
.photo-container .photo {
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.271);
  cursor: pointer;
}

/* line 985, ../sass/screen.scss */
.subheader {
  color: gray;
  font-size: 14px;
  margin: 0 20px;
  display: inline-block;
  margin-bottom: 10px;
}

/* line 994, ../sass/screen.scss */
#courses #login {
  width: 300px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
/* line 1001, ../sass/screen.scss */
#courses h3 {
  font-weight: 700;
}
/* line 1005, ../sass/screen.scss */
#courses #putId {
  display: none;
}

/* line 1011, ../sass/screen.scss */
label {
  margin-bottom: 10px !important;
}

/* line 1015, ../sass/screen.scss */
.input-group-text {
  border-radius: 0 !important;
}

/* line 1022, ../sass/screen.scss */
#carousel-home {
  position: absolute;
  top: -200px;
}
/* line 1026, ../sass/screen.scss */
#carousel-home .carousel-caption {
  bottom: 30%;
}
/* line 1029, ../sass/screen.scss */
#carousel-home .carousel-caption p {
  font-weight: 300;
}
/* line 1034, ../sass/screen.scss */
#carousel-home h1 {
  color: #fff !important;
}
/* line 1038, ../sass/screen.scss */
#carousel-home .carousel-indicators {
  display: none !important;
}

/* line 1044, ../sass/screen.scss */
.circle {
  border-radius: 50%;
}

/* line 1048, ../sass/screen.scss */
.teachers .teacher {
  margin-top: 55px;
}
/* line 1051, ../sass/screen.scss */
.teachers .teacher .profile-photo img {
  border: 5px solid #e99600;
  width: 100%;
}
/* line 1056, ../sass/screen.scss */
.teachers .teacher .name {
  display: inline-block;
  margin-top: 25px;
}
/* line 1060, ../sass/screen.scss */
.teachers .teacher .rang {
  color: gray;
  margin: 10px 0;
}

/* line 1067, ../sass/screen.scss */
.video img {
  transition: 0.5s;
}

/* line 1071, ../sass/screen.scss */
.video img:hover {
  transform: scale(1.1);
}

/* line 1075, ../sass/screen.scss */
.question-title {
  padding: 15px;
  margin-top: 15px;
  cursor: pointer;
  border-left: 5px solid #f17e20;
}

/* line 1082, ../sass/screen.scss */
.answer {
  padding: 20px;
  line-height: 26px;
  box-shadow: none;
  border-left: 5px solid #f17e20;
  border-radius: 0;
  background: transparent;
}

/* line 1091, ../sass/screen.scss */
.answer p {
  margin: 10px 0;
  margin-top: 0;
  color: #000 !important;
  font-weight: 400 !important;
  padding-left: 0;
}

/* line 1099, ../sass/screen.scss */
h3 {
  line-height: 35px;
  color: #f17e20;
}

/* line 1104, ../sass/screen.scss */
.first-card .first_cover {
  background: linear-gradient(to right, #ec7b4ada, #e97c00dc);
}

/* line 1108, ../sass/screen.scss */
.first-card .second_cover {
  background: linear-gradient(to right, #ec7b4a62, #e97c0059);
}

/* line 1112, ../sass/screen.scss */
.first-card .overflow {
  background: linear-gradient(to right, #ec7b4ada, #e97c00dc);
  left: -8%;
  top: -8%;
}

/* line 1119, ../sass/screen.scss */
#faqs h2 {
  text-align: center;
  font-weight: 700;
  opacity: 0.6;
}
/* line 1124, ../sass/screen.scss */
#faqs strong {
  font-weight: 700;
}
/* line 1128, ../sass/screen.scss */
#faqs li {
  padding-left: 25px;
  margin-bottom: 15px;
}

@media (max-width: 1350px) {
  /* line 1135, ../sass/screen.scss */
  #carousel-home {
    top: 0px;
  }
}
@media (max-width: 998px) {
  /* line 1143, ../sass/screen.scss */
  #carousel-home {
    top: 50px;
  }

  /* line 1146, ../sass/screen.scss */
  .about-img {
    top: 50px;
  }

  /* line 1150, ../sass/screen.scss */
  footer .contact-item {
    display: none;
  }
  /* line 1154, ../sass/screen.scss */
  footer .mobile {
    display: block;
  }
  /* line 1158, ../sass/screen.scss */
  footer .nav-footer {
    display: none;
  }

  /* line 1163, ../sass/screen.scss */
  .nav-link {
    padding: 10px;
  }

  /* line 1167, ../sass/screen.scss */
  h1 {
    font-size: 32px;
  }

  /* line 1171, ../sass/screen.scss */
  h2 {
    font-size: 23px;
  }

  /* line 1175, ../sass/screen.scss */
  h3 {
    font-size: 20px;
  }

  /* line 1179, ../sass/screen.scss */
  h4 {
    font-size: 15px;
  }

  /* line 1183, ../sass/screen.scss */
  span {
    font-size: 16px !important;
  }

  /* line 1187, ../sass/screen.scss */
  .home-overflow {
    height: 500px;
  }

  /* line 1191, ../sass/screen.scss */
  .content-header {
    top: 20%;
  }

  /* line 1195, ../sass/screen.scss */
  .content {
    transform: translate(0, 0);
    left: 0;
    top: 20%;
  }
}
/* line 1203, ../sass/screen.scss */
.info ul li {
  margin-bottom: 15px;
  font-size: 15px;
  color: #303030;
  line-height: 1.6rem;
}
/* line 1209, ../sass/screen.scss */
.info ul i {
  color: #e46b08;
  margin-right: 15px;
  opacity: 0.7;
  font-size: 10px;
}

/* line 1217, ../sass/screen.scss */
.infoTitle {
  color: gray;
  font-size: 15px;
  text-align: center;
  margin: 15px 0;
}

@media (max-width: 768px) {
  /* line 1225, ../sass/screen.scss */
  .carousel-caption {
    bottom: 15% !important;
  }

  /* line 1229, ../sass/screen.scss */
  .navbar-brand img {
    width: 260px !important;
  }
}
/* line 1237, ../sass/screen.scss */
.category-admin {
  color: gray;
  margin-top: 50px;
  margin-left: 15px;
}

/* line 1243, ../sass/screen.scss */
.toast-wrong {
  position: absolute;
  right: 25px;
  top: 100px;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  animation: fadeOut 1s;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
}
/* line 1264, ../sass/screen.scss */
.preview-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
